/**
 *! BASE CONTENTS FOR ITCSS
 *
 ** OBJECTS - 05_objects
 *? Class-based selectors which define undecorated design patterns, for example media object known from OOCSS
 * Wrappers.............Wrapping and constraining elements.
 */

/**
* @imports
*/
@import "01_settings";
@import "02_tools";
/**
* @imports
*/

/* ------------------------------------ *\
  #BASE
\* ------------------------------------ */

.base {
  font-family: $base-font;
  @include text-setting("base");
  background-color: theme-color("primary", "base");
}

/* ------------------------------------ *\
  #CONTAINERS
\* ------------------------------------ */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 992px;
  }

  @include large {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-direction: column;

  &.no-column {
    flex-flow: wrap;
    flex-direction: row;
  }
  @include desktop {
    flex-flow: wrap;
    flex-direction: row;
  }
}

.column {
  padding: 20px;
  width: 100%;

  @include desktop {
    &.one {
      width: 33%;
    }

    &.two {
      width: 50%;
    }

    &.two-third {
      width: 66%;
    }

    &.full {
      width: 100%;
    }
  }
}

.item {
  padding: 10px;
  margin: 10px 0;
  &.b-dash {
    border: 2px;
    border-style: dashed;
  }

  &.b-inset {
    border: 2px;
    border-style: inset;
    border-color: theme-color("primary", "dark");
  }
}

.sub-item {
  padding-top: 10px;
}

/* ------------------------------------ *\
  #CONTENT
\* ------------------------------------ */

.content {
  padding: 15px;
}

.date {
  font-style: italic;
  color: contrast("light", "secondary");
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.5);
  }
}

.title {
  text-transform: capitalize;
}

/* ------------------------------------ *\
  #OTHER
\* ------------------------------------ */

.underline {
  @include underline;
}
