/**
 *! BASE CONTENTS FOR ITCSS
 *
 ** COMPONENTS - 06_components
 *? Specific UI components. This is where the majority of our work takes place and our UI components are often composed of Objects and Components
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 */

@import "01_settings";
@import "02_tools";

.header {
  display: flex;
  justify-content: flex-end;

  & h1 {
    @include underline;
  }

  & span {
    font-weight: normal;
    font-style: italic;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > * {
    margin: 0 10px;
  }
}
